<div class="container">
  <h2>マイページ</h2>
  <div class="row">
    <p>登録者情報</p>
    <p><%= link_to "編集する", customers_edit_path, class:"btn btn-success"%></p>
    <table class="table">
      <tbody>
        <tr>
          <td>氏名</td>
          <td><%= full_name(@customer)%></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= kana_full_name(@customer)%></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code%></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address%></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number%></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email%></td>
        </tr>        
      </tbody>
    </table>
    <div>
      <p>配送先</p>
      <p><%= link_to "一覧を見る",addresses_path, class:"btn btn-primary"%></p>
    </div>
    <div>
      <p>注文履歴</p>
      <p><%= link_to "一覧を見る", orders_path,class:"btn btn-primary"%></p>
    </div>
    
  </div>
</div>