<% provide(:title, "商品") %>
<div class="container">
    <div class="row">
        <div class="col-sm-8 px-sm-0 offset-sm-1">
            <h2 class="my-5">商品一覧</h2>
        </div>
        <div class="col-sm-2 px-sm-0 text-right mt-5">
            <%= link_to new_admin_item_path,class:"btn btn btn-outline-secondary" do %>
            <i class="fas fa-plus fa-2x "></i>
            <% end %>
        </div>
    </div>    
        <div class="row">
            <div class="col-sm-10 offset-1">
                <table class="table  mb-5">
                    <thread>
                        <tr>
                            <th>商品ID</th>
                            <th>商品名</th>
                            <th>税抜価格</th>
                            <th>ジャンル</th>
                            <th>ステータス</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% @items.each do |item| %>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= link_to item.name,admin_item_path(item.id) %></td>
                            <td><%= item.price %></td>
                            <td><%= item.genre.name %></td>
                            <td>
                                <% if item.is_active == true %>
                                  <p class="text-success ">販売中</p>
                                <% else %>
                                  <p class="text-secondary ">販売停止中</p>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center"><%= paginate @items %></div>
            </div>
        </div>
</div>