<div class="container">
    <div class="row m-5 pl-5">
        <h2 class="bg-light">商品詳細</h2>
    </div>
    <div class="row align-items-center m-5">
      <div class="col">
        <%= attachment_image_tag @item, :image, :size => '300x250',fallback: "no_image.jpg" %>
      </div>
      <div class="col ">
          <table class="table">
            <tr>
              <th><%= "商品名" %></th>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <th><%= "商品説明" %></th>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <th><%= "ジャンル" %></th>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <th>
                  <%= "税込価格" %><br>
                  <%= "(税抜価格)" %>
              </th>
              <td><%= @item.tax_in_price %> (<%= @item.price %>) 円</td>
            </tr>
            <tr>
              <th><%= "販売ステータス" %></th>
                <td>
                     <% if @item.is_active == true %>
                        <p class="text-success ">販売中</p>
                     <% else %>
                        <p class="text-secondary ">販売停止中</p>
                     <% end %>
                </td>
            </tr>
     　　　　 </table>
     　　　　 <%= link_to '編集する', edit_admin_item_path(@item.id), class: 'btn btn-success' %>
   　　 </div>
  　</div>
 </div>
