<% provide(:title, "会員情報詳細") %>
<div class="container">
  <h2 class="mt-5 text-center"><%= full_name(@customer)%>さんの会員詳細</h2>
    <div class="row m-5">
      <div class="col-10 offset-1">
          <table class="table">
            <tr>
              <th class="text-center">会員ID</th>
              <td><%= @customer.id%></td>
            </tr>
            <tr>
              <th class="text-center">氏名</th>
              <td><%= full_name(@customer) %></td>
            </tr>
            <tr>
              <th class="text-center">フリガナ</th>
              <td><%= kana_full_name(@customer)%></td>
            </tr>
            <tr>
              <th class="text-center">郵便番号</th>
              <td><%= @customer.postal_code%></td>
            </tr>
            <tr>
              <th class="text-center">住所</th>
              <td><%= @customer.address%></td>
            </tr>
            <tr>
              <th class="text-center">電話番号</th>
              <td><%= @customer.phone_number%></td>
            </tr>
            <tr>
              <th class="text-center">メールアドレス</th>
              <td><%= @customer.email%></td>
            </tr>
            <tr>
              <th class="text-center">会員ステータス</th>
              <% if @customer.is_deleted == true%>
               <td class="text-secondary">退会済み</td>
              <% else %>
               <td class="text-success">有効</td>
              <% end %>
            </tr>            
          </table>
          <div class="d-flex justify-content-around">
            <p><%= link_to "編集する",edit_admin_customer_path, class:"btn btn-success"%></p>
            <p><%= link_to "注文履歴一覧を見る",admin_orders_path, class:"btn btn-primary"%></p>
          </div>
   　　 </div>
  　</div>
 </div>