<div class="container">
    <div class="row">
        <div class="col-md-12 my-5">
            <h2>ジャンル一覧・追加</h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <%= form_with model: @genre,url: admin_genres_path,method: :post, remote: true do |f| %>
             <%= f.label :name, "ジャンル名" %>
             <%= f.text_field :name, id: "form" %>
             <%= f.submit "新規登録", class:"btn btn-success ml-4 py-1" %>
            <% end %>
        </div>
    </div>
    
    <div class="row my-5">
      <div class="col-lg-5 mt-3">
        <table class="table">
          <thead>
            <tr>
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody  id="genre_index_new">
            <%= render 'genre_new', genre: @genres %>
          </tbody>
        </table>
      </div>
    </div>
    
</div>