<% if @addresses.present? %>
  <table class="table table-hover table-bordered">
    <thead>
        <tr class="info">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
      <% addresses.each do |address| %>
        <tr id="destroy-<%= address.id %>">
            <td>
                <%= address.postal_code %>
            </td>
            <td class="text-left">
                <%= address.address %>
            </td>
            <td class="text-left">
                <%= address.name %>
            </td>
            <td>
                <%= link_to "編集する",edit_customers_address_path(address), class: "glyphicon glyphicon-pencil btn-sm btn-primary" %>
            </td>
            <td>
                <%= link_to "削除する",shipping_address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true, class: "glyphicon glyphicon-trash btn-sm btn-danger destroy_book_#{shipping_address.id}" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>