<div class="container">
  <h2 class="font-weight-bold my-5">注文情報入力</h2>
  <div class="row">

    <div class="col-xs-12">
      <% if current_customer.cart_items.present? %>
        <div class="col-xs-offset-1">
        <%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>
          <h5 class="col-xs-3 font-weight-bold mb-3">支払い方法</h5>
           <div class="col-xs-10">
             <%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
             <%= f.label :"クレジットカード"%>
           </div>
           <div class="col-xs-10">
             <%= f.radio_button :payment_method, :"銀行振込" %>
             <%= f.label :"銀行振込"%>
           </div>
           
          <h5 class="col-xs-3 font-weight-bold my-3">お届け先</h5>
           <div class="col-xs-10">
             <%= f.radio_button :my_address, "1", checked: true %>
             <%= f.label :"ご自身の住所"%><br>
             <%= "〒#{current_customer.postal_code} #{current_customer.address}"%><br>
             <%= "#{full_name(current_customer)}"%>
           </div>

          <% if @address != [] %>
          <div class="col-xs-10">
            <%= f.radio_button :my_address, "2"%>
             <%= f.label :"登録住所からの選択"%><br>
            <%= f.collection_select  :address_id, @addresses, :id, :order_address%>
          </div>
          <% end %>

           <div class="col-xs-10 mt-5">
             <%= f.radio_button :my_address, "3"%>
             <%= f.label :"新しいお届け先"%>
             <div class="col-xs-12 form_group">
               <%= f.label :"郵便番号（ハイフンなし）",class:"col-sm-4 form-control-static"%>
               <%= f.text_field :postal_code, class:"col-sm-3 form-control-static",placeholder:"0000000"%>
             </div>
             <div class="col-xs-12 form_group my-3">
               <%= f.label :"住所",class:"col-sm-4 form-control-static"%>
               <%= f.text_field :address, class:"col-sm-6 form-control-static",placeholder:"東京都渋谷区代々木神園町0-0",:size =>"100"%>
             </div>
             <div class="col-xs-12 form_group">
               <%= f.label :"宛名",class:"col-sm-4 form-control-static"%>
               <%= f.text_field :name, class:"col-sm-3 form-control-static",placeholder:"令和道子"%>
             </div>
           </div>

           <div class="col-xs-8 d-flex justify-content-center mt-5">
             <%= f.submit "確認画面へ進む", class:"btn btn-primary col-xs-5 "%>
           </div>
        <% end %>
        </div>
      <% else %>
        <p>お客様のカートに商品はありません。</p>
        <p><%= link_to "商品一覧", items_path, class:"btn btn-primary"%>から商品をお探し下さい。</p>
      <% end %>
    </div>
  </div>
</div>