<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="col-6 offset-3">

      <h3>ログイン</h3>
      
        <h6 class="my-3">会員の方はこちらからログイン</h6>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-2">
          <%= f.label :"メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, placeholder:"例）nagano_cake@example.com", autocomplete: "email",class:"form-control" %>
        </div>
          <div class="field my-2">
            <%= f.label :"パスワード" %><br />
            <%= f.password_field :password, placeholder:"例）xxxxxx", autocomplete: "current-password",class:"form-control" %>
          </div>
          <div class="actions my-3 text-center">
           
            <%= f.submit "ログイン",class: "btn btn-primary"%>
          </div>
        <% end %>
          <div>
              <h6 class="text-center">会員登録がお済みでない⽅</h6>
              <p class="text-center"><%= link_to "こちら", new_customer_registration_path %>からログインしてください。</p>
          </div>
      </div>
      
    </div>
  </div>
</div>