<div class="container mt-5 mb-5">
	<div class="row text-center text-xs-center text-sm-left text-md-left ">
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-center">
     <%= attachment_image_tag @item, :image, size: "340x220", fallback: "no_image.jpg" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 item-details mx-auto">
      <h3><%= @item.name %></h3>
      <p><%= @item.introduction %></p>
      <% if @item.is_active == true %>
        <h4>¥<%= (@item.price * 1.08).to_i.to_s(:delimited, delimiter: ',') %></h4>
        <p>(税込)</p>
        <%= form_with model:@cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :count, (1..10).to_a, include_blank: "個数選択" %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      <% else %>
        <h4>売り切れ</h4>
      <% end %>
    </div> 
  </div>
</div>